// 变量
$--color-primary: var(--color-primary, #487bff);

// sidebar
$sidebar-bg-color: var(--sidebar-bg-color, #00152B);
$sidebar-text-color: var(--sidebar-text-color, #8a979e);
$sidebar-active-bg-color: var(--sidebar-active-bg-color, #1890ff);
$sidebar-active-text-color: var(--sidebar-active-text-color, #ccd0d5);

// blue
$main-color: #487bff;

// 颜色

// 主视觉色
$main-color: #487bff;
// 主要内容区域色
$sys-main-color: #fff;
// 系统背景颜色
$sys-bg-color: #f0f2f5;
// 辅助色黄色
$sys-sub-yellow: #fbaa1e;
// 辅助色绿色
$sys-sub-green: #5bd171;
// 辅助色红色
$sys-sub-red: #f05c4a;
// 辅助色灰色
$sys-sub-gray: #e8e8e8;
// 文字标题颜色
$sys-font-title-color: #333;
// 文字主要颜色
$sys-font-main-color: #666;
// 文字辅助颜色
$sys-font-sub-color: #999;


